body {
    height: 100%;
    color: #252525;
    background-color: #eee;
    margin: auto;
    line-height: 30px;
    padding: 15px;
    max-width: 800px;
    display: block;
    font-family:sans-serif;
    text-align: center;
}

p {
    font-size: 1.125em;
    margin-bottom: 0px;
    margin-top: 0px;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
}

h1 {
    font-size: 3em;
    margin-bottom: 0px;
    margin-top: 40px;
    margin-bottom: 10px;
    line-height: 40px;
}

h2 {
    font-size: 2em;
    margin-bottom:10px;
    margin-top: 30px;
}

h3 {
    font-size: 1.25em;
    color: #656565;
    margin-bottom: 10px;
    margin-top: 30px;
}

hr {
    margin-left: -15px;
    margin-right: -15px;
    color: #757575;
}

i {
    color: #757575;
    text-align: left;
}

a {
    color: #48D;
}

a:hover {
    color: #6AD;
}

.coverArt {
    color: white;
    text-align: center;
    max-height: 320px;
    max-width: 320px;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    margin-top: 30px;
    padding: 0px;
    border-radius: 160px 160px 160px 160px;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -moz-background-clip: padding;
    -webkit-transform: translateZ(0);
}

.coverDiv {
    height: 320px;
}

.descriptionDiv {
    display: block;
    margin-left: auto;
    max-width:800px;
    margin-top: 0px;
}

.footer {
    height: 20px;
    max-width:  800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.light {
    font-size: 1em;
    color: white;
    text-align: center;
}

.socialLink {
    height: 25px;
    vertical-align: middle;
}

.socialLink2 {
    height: 25px;
    margin-left: 2px;
    vertical-align: middle;
}

.subtle {
    text-align: center;
    color: #777;
    font-size: 1em;
}

.subtleLeft {
    text-align: left;
    padding-top: 20px;
    color: #777;
}

.textBubbleDiv {
    background-color: #454545;
    text-align: center;
    max-width:  280px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 30px 30px 30px 30px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

@media (prefers-color-scheme: dark) {
    body {
        color: #eee;
        background-color: #050505;
    }
}
